img{
    width: 100%;
    height: 150%;
}
.h1_header{
    position: absolute; 
    top:5vh; 
    left: 27vw; 
    color: white;
}

.divCenter {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-59%);
}

ion-list {

    ion-item {
        border: 1px solid var(--ion-color-primary);
        border-radius: 10px;
        -webkit-box-shadow:0px 8px 4px -4px var(--ion-color-dark);
        -moz-box-shadow: 0px 8px 4px -4px var(--ion-color-dark);
        box-shadow: 0px 8px 4px -4px var(--ion-color-dark);
    }
    p {
        font-size: 0.9rem;
        padding-left: 5vw;
        color:blue;
    }
    ion-input{
        --placeholder-color: #c6acd2;
        --placeholder-opacity: 2;
    }
    // ion-input input::placeholder{
    //     color: red;
    //   }
      ion-input input::-moz-placeholder {
        color: red;
        }
}
ion-card .list-md {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 10px;
    background-color: 443f6c;
    background-color: #b29dc8;
}
.img1{
    width: 100%;
    height: 100%;
    background-color: #b29dc8;
}

