<div class="ion-text-center p-1">
  <img src="../../../assets/icon/svg.png">
  <h1 class="h1_header">Anytime Fitness</h1>
</div>
<ion-content>
  <div class="divCenter px-2">
    <ion-card class="text-primary">
      <form [formGroup]="loginForm">
        <ion-list lines="none" class="ion-margin">
          <div class="text-center p-1">
            <img  height="50px" src="../../../assets/icon/anytime-fitness-logo-6.png">
          </div>
          <div>
            <ion-item class="ion-margin">
              <ion-input placeholder="Enter mobile no" type="text" inputmode="numeric" formControlName="mobileno"
                maxlength="10" minlength="10" clearInput="true"></ion-input>
            </ion-item>
            <small class="ps-2 text-danger"
              *ngIf="getformControl('mobileno').touched && getformControl('mobileno').errors?.['required']">
              * Mobile no is required
            </small>
          </div>
          <div>
          <ion-item class="ion-margin">
            <ion-input [type]="showPassword ? 'password' : 'text'" maxlength="12" minlength="8"
              placeholder="Enter password" type="password" clearInput="true" formControlName="Password"></ion-input>
            <span class="input-group-text">
              <i (click)="showPassword = !showPassword;" [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
            </span>
          </ion-item>
          <small class="ps-2 text-danger"
            *ngIf="getformControl('Password').touched && getformControl('Password').errors?.['required']">
            * Password is required
          </small>
          <small class="ps-2 text-danger"
            *ngIf="getformControl('Password').touched && getformControl('Password').errors?.['minlength']">
            Minimal length is {{getformControl('Password').errors?.['minlength'].requiredLength}} and actual is
            {{getformControl('Password').errors?.['minlength'].actualLength}}
          </small>
          <small class="ps-2 text-danger"
            *ngIf="getformControl('Password').touched && getformControl('Password').errors?.['maxlength']">
            Maximum length is {{getformControl('Password').errors?.['maxlength'].requiredLength}} and actual is
            {{getformControl('Password').errors?.['maxlength'].actualLength}}
          </small>
        </div>
          <div>
            <ion-text class="text-right" color="medium" routerLink="/forgotpwd">
              <p class="ion-margin-horizontal">Forgot Password?</p>
            </ion-text>
          </div>
          <div class="text-center">
            <ion-button (click)="onFormSubmit()" shape="round"  class="ion-text-capitalize" color="dark">
              Login
            </ion-button>
          </div>
        </ion-list>
      </form>
    </ion-card>
  </div>

</ion-content>