<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
  <img src="../../../assets/icon/forgotlogo.jpg">
</div>
<div class="px-3">
  <form [formGroup]="forgotForm">
    <div class="form-group">
      <label class="text-dark">Mobile No <span class="text-danger">*</span></label>
      <div class="input-group mb-1">
        <input type="text" formControlName="mobileno" inputmode="numeric" class="form-control txt"
          placeholder="Enter your Mobile No">
        <span class="input-group-text">
          <i class="fa fa-envelope"></i>
        </span>
      </div>
      <small class="ps-2 text-danger"
        *ngIf="getformControl('mobileno').touched && getformControl('mobileno').errors?.['required']">
        * Mobile No is required
      </small>                     
    </div>
    <div class="form-group text-center">
      <ion-button color="dark" (click)="onFormSubmit()">Submit</ion-button>
    </div>
  </form>
</div>
</ion-content>
